@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
:root {
  --main-color: #005952;
  --secondary-color: #f0540a;
  --ff-main: "Saira", Tahoma, Geneva, Verdana, sans-serif;
  --ff-secondary: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-main);
  line-height: 1em;
}

li,
a,
button {
  color: #333;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
}

h1,
h2,
h3 {
  padding-bottom: 10px;
}

p {
  margin: 10px 0;
}

/* HEADER & NAVBAR */

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-logo {
  cursor: pointer;
  width: 200px;
}

.nav-link {
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.active {
  color: var(--secondary-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  background: black;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 800px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    display: grid;
    gap: 20px;
    background-color: white;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-link {
    padding: 10px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}

/* HERO SECTION */
.main-container {
  display: grid;
  align-items: center;
  background: var(--main-color);
  grid-template-columns: 1fr 1fr;
}

.main-text {
  padding: 0 50px;
  color: #fff;
}

.main-text > h1 {
  font-size: 4em;
  line-height: 1.2em;
}

.btn-main {
  padding: 9px 30px;
  background-color: var(--secondary-color);
  font-family: var(--ff-secondary);
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease 0s;
}

.btn-main:hover {
  background-color: #f7f6f1;
  color: var(--secondary-color);
}

.main-img {
  height: 650px;
  background-image: linear-gradient(rgba(0, 89, 82, 0.35), rgba(0, 89, 82, 0.35)), url("/img/img-main.jpg");
  background-position: center center;
  background-size: cover;
}

/* CATEGORIES SECTION */
.categories {
  background: #f7f6f1;
  width: 100%;
  height: 550px;
  padding: 60px 0;
}

.category-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-title {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 30px;
  color: var(--secondary-color);
}

.category-box {
  width: 450px;
  padding: 30px;
  text-align: center;
}

.category-box h3 {
  padding-bottom: 30px;
  font-size: 1.4em;
}

.category-box img {
  width: 100%;
  border-radius: 15px;
  border: 3px solid var(--main-color);
  transition: 0.5s ease;
}

.category-box img:hover {
  transform: scale(1.03);
}

/* BREAKPOINTS */

/* @media (max-width: 768px) {
  .menu-icon {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 80px;
    left: 0%;
    width: 100%;
    padding: 1rem;
    background: #dcdcdc;
    transition: all 0.5s;
  }

  .navbar a {
    display: block;
    padding: 10px 0;
    text-align: center;
  }

  .navbar.active {
    left: 0;
  }
} */

/* .box-test {
  height: 100px;
  width: 100%;
  background-color: red;
} */