@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
:root {
  --main-color: #005952;
  --secondary-color: #f0540a;
  --ff-main: "Saira", Tahoma, Geneva, Verdana, sans-serif;
  --ff-secondary: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-main);
  line-height: 1em;
}

li,
a,
button {
  color: #333;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
}

h1,
h2,
h3 {
  padding-bottom: 10px;
}

p {
  margin: 10px 0;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.logo {
  cursor: pointer;
  width: 200px;
  margin-left: 20px;
}

.navbar {
  display: inline-block;
  padding: 0px 20px;
}

.navbar a {
  padding: 0 10px;
  transition: all 0.3s ease 0s;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.active {
  color: var(--secondary-color);
}

#menu-icon {
  font-size: 2rem;
  color: #333;
  display: none;
}

/* HERO SECTION */
.main-container {
  display: grid;
  align-items: center;
  background: var(--main-color);
  grid-template-columns: 1fr 1fr;
}

/* Titulo principal */
.main-text {
  padding: 0 50px;
  color: #fff;
}

.main-text > h1 {
  font-size: 4em;
  line-height: 1.2em;
}

.btn-main {
  padding: 9px 30px;
  background-color: var(--secondary-color);
  font-family: var(--ff-secondary);
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease 0s;
}

.btn-main:hover {
  background-color: #f7f6f1;
  color: var(--secondary-color);
}

/* Imagen principal */
.main-img {
  height: 650px;
  background-image: linear-gradient(rgba(0, 89, 82, 0.35), rgba(0, 89, 82, 0.35)), url("/img/img-main.jpg");
  background-position: center center;
  background-size: cover;
}

/* CATEGORIAS */

.categories {
  background: #f7f6f1;
  width: 100%;
  height: 550px;
  padding: 60px 0;
}

.category-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-title {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 30px;
  color: var(--secondary-color);
}

.category-box {
  width: 450px;
  padding: 30px;
  text-align: center;
}

.category-box h3 {
  padding-bottom: 30px;
  font-size: 1.4em;
}

.category-box img {
  width: 100%;
  border-radius: 15px;
  border: 3px solid var(--main-color);
  transition: 0.5s ease;
}

.category-box img:hover {
  transform: scale(1.03);
}

/* BREAKPOINTS */

@media (max-width: 1200px) {
  body {
    font-size: 85%;
  } 
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: #dcdcdc;
  }

  .navbar a {
    display: block;
    padding: 10px 0;
    text-align: center;
  }
}

/* .box-test {
  height: 100px;
  width: 100%;
  background-color: red;
} */