@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
:root {
  --main-color: #005952;
  --secondary-color: #f0540a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Saira", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1em;
}

li,
a,
button {
  color: #333;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
}

h1,
h2,
h3 {
  padding-bottom: 10px;
}

p {
  margin: 10px 0;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.logo {
  cursor: pointer;
  width: 200px;
  margin-left: 20px;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: var(--secondary-color);
}

.active {
  color: var(--secondary-color);
}

.btn-contact {
  margin-right: 20px;
  padding: 9px 25px;
  background-color: var(--main-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}

.btn-contact:hover {
  background-color: var(--secondary-color);
}

/* HERO SECTION */
.main-container {
  display: grid;
  align-items: center;
  background: var(--main-color);
  grid-template-columns: 1fr 1fr;
}

/* Titulo principal */
.main-text {
  padding: 0 50px;
  color: #fff;
}

.main-text > h1 {
  font-size: 4em;
  line-height: 1.2em;
}

.btn-org {
  padding: 9px 30px;
  background-color: var(--secondary-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease 0s;
}

.btn-org:hover {
  background-color: #f7f6f1;
  color: var(--secondary-color);
}

/* Imagen principal */
.main-img {
  height: 650px;
  background-image: linear-gradient(rgba(0, 89, 82, 0.35), rgba(0, 89, 82, 0.35)), url("/img/img-main.jpg");
  background-position: center center;
  background-size: cover;
}

/* CATEGORIAS */

.categories {
  background: #f7f6f1;
  width: 100%;
  height: 550px;
  padding: 60px 0;
}

.category-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-title {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 30px;
  color: var(--secondary-color);
}

.category-box {
  width: 450px;
  /* height: auto; */
  padding: 30px;
  text-align: center;
}

.category-box h3 {
  padding-bottom: 30px;
  font-size: 1.4em;
}

.category-box img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 4px 4px 12px #333;
}

/* .box-test {
  height: 100px;
  width: 100%;
  background-color: red;
} */